<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Reviews</h3>
  </div>
  <ul class="list-group">
    <% @reviews.each do |review| %>
      <li class="list-group-item">
        <h3>
          <%= User.find(review.user_id).email %>
          <span class="label label-primary">
            <%= review.rating %>
            <span class="glyphicon glyphicon-star"></span>
          </span>
        </h3>
        <h4>
          <%= DateTime.parse(review.created_at.to_s).strftime("%b %d %Y") %>
        </h4>
        <p>
          <%= review.review_text %>
        </p>
        <% if current_user && review.user_id == current_user.id %>
          <form method="POST" class="form-horizontal" action="/songs/review/delete">
            <input type="hidden" name="song_id" value="<%= @song.id %>">
            <input type="hidden" name="review_id" value="<%= review.id %>">
            <div class="form-group">
              <div class="col-sm-1">
                <button type="submit" class="btn btn-danger">
                  Delete Review
                </button>
              </div>
            </div>
          </form>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
