<div class="songlist">
<a href="/songs/new">Post a song</a>
<% @songs.each do |song| %>
  <div class="song">
    <h2>
      <a href="/songs/<%= song.id %>"><%= song.title %></a>
    </h2>
    <h4>
      <%= User.find(song.user_id).email %>
    </h4>
    <p>
      <a href="<%= song.url %>"><%= song.url %></a>
    </p>
  </div>
<% end %>
</div>
