<h1>
  <%= @song.title %>
</h1>
<h4>
  Upvotes: <%= Upvote.where({ song_id: @song.id }).size %>
</h4>
<% if current_user && Upvote.where({ user_id: current_user.id, song_id: @song.id }).empty? %>
  <form method="post" action="">
    <input type="hidden" name="song_id" value="<%= @song.id %>">
    <button type="submit" class="btn btn-primary">
      Upvote
    </button>
  </form>
<% end %>
<p>
Posted by <%= User.find(@song.user_id).email %>
</p>
<p>
  <a href="<%= @song.url %>"><%= @song.url %></a>
</p>
<p>
  <small>
    Created at: <%= @song.created_at %>
  </small>
</p>

<% unless @more_songs.empty? %>
  <h1>More posts by <%= User.find(@song.user_id).email %></h1>
  <% @more_songs.each do |song| %>
    <div class="song">
      <p>
        <a href="/songs/<%= song.id %>"><%= song.title %></a>
      </p>
      <p>
        <a href="<%= song.url %>"><%= song.url %></a>
      </p>
      <p>
        <small>
          Created at: <%= song.created_at %>
        </small>
      </p>
    </div>
  <% end %>
<% end %>

<hr/>
<a href="/songs">Back to all songs</a>
