<div class="container">
  <h1>
    <%= @song.title %>
  </h1>
  <h4>
    Upvotes: <%= Upvote.where({ song_id: @song.id }).size %>
  </h4>
  <% if current_user && Upvote.where({ user_id: current_user.id, song_id: @song.id }).empty? %>
    <form method="post" action="/songs/upvote">
      <input type="hidden" name="song_id" value="<%= @song.id %>">
      <button type="submit" class="btn btn-success">
        Upvote
      </button>
    </form>
  <% end %>
  <p>
    Posted by <%= User.find(@song.user_id).email %>
  </p>
  <p>
    <a href="<%= @song.url %>">
      <%= @song.url %>
    </a>
  </p>
  <p>
    <small>
      Created at: <%= @song.created_at %>
    </small>
  </p>

  <% if current_user && Review.where({ user_id: current_user.id, song_id: @song.id }).empty? %>
    <form method="POST" class="form-horizontal" action="/songs/review" id="add-review-form">
      <h1>Add a review</h1>
      <input type="hidden" name="song_id" value="<%= @song.id %>">
      <div class="form-group">
          <div class="col-xs-5">
            <textarea form="add-review-form" id="review_text" name="review_text" rows="5" cols="50" required></textarea>
          </div>
        </div>
      <div class="form-group">
        <div class="col-xs-2">
          <button type="submit" class="btn btn-success">Post Review</button>
        </div>
      </div>
    </form>
  <% end %>

  <% unless @reviews.nil? || @reviews.empty? %>
    <table class="table table-striped">
      <caption>
       <h2>
         Reviews
       </h2>
      </caption>
      <thead>
        <tr>
          <th>User</th>
          <th>Review</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= User.find(review.user_id).email %></td>
            <td><%= review.review_text %></td>
            <td><%= review.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless @more_songs.nil? || @more_songs.empty? %>
    <table class="table table-striped">
      <caption>
       <h2>
         More songs posted by <%= User.find(@song.user_id).email %>
       </h2>
      </caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% @more_songs.each do |song| %>
          <tr>
            <td><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
            <td><a href="<%= song.url %>"><%= song.url %></a> </td>
            <td><%= song.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <hr/>
  <a href="/songs">Back to all songs</a>

</div>
